:root{
    --DarkBlue: #0183fc;
    --Blue: #3e9ef8;
    --LightBlue: #b8dcff;
    --Purple: #9792e4;
    --LightPurple: #b0abf1;
    --Orange: #fdc15f;
    --DarkGrey:#333333;
    --TextHeight: 2rem;
    --TitleSize: 2.5rem;
    --SubTitle: 1.25rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    font-family: 'PT Sans', sans-serif;
}

/* Header */

header{
    background-color: var(--DarkBlue);
    width: 100vw;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    margin: 0 auto;
    color: white;
}

.p-fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu{
    display: none;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline-block;
    margin: 0 5px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    line-height: 70px;
}

.logo img{
    display: block;
}

.button{
    border-radius: 20px;
    color: black !important;
    padding: 5px 10px;
    background-color: white;
}

/* Main */

/* First Section */

.pad-top-bot{
    padding-top: 100px;
    padding-bottom: 100px;
}

.pad-top-bot-second{
    padding: 50px 0 50px 0;
}

.container{
    width: 85%;
    margin: 0 auto;
}

.d-flex-column{
    display: flex;
    direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-blue{
    color: white;
    background-color: var(--DarkBlue);
    display: inline-block;
    border-radius: 20px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.button-blue i{
    margin-right: 5px;
}

.card{
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
}

.card img{
    width: 80%;
    display: block;
    margin: 0 auto -20px auto;
}

.card h3{
    color: var(--DarkBlue);
    font-size: 24px;
}

.bg-color-lightblue{
    background-color: var(--LightBlue);
}

.card>div>*{
    margin-bottom: 20px;
}

.d-flex-column .card>div>i{
    color: var(--DarkBlue);
}

.card>div>p{
    line-height: var(--TextHeight);
}

.a-center{
    text-align: center;
}

/* .mar-bot{
    margin-bottom: 50px;
} */

/* Second Section */

.container-small{
    width: 80%;
    margin: 0 auto;
}

.bg-color-purple{
    background-color: var(--Purple);
}

.img-plan{
    width: 100%;
}

.bg-color-white{
    background-color: white;
}

.strategic-col{
    color: white;
}

.strategic-col>*{
    margin-bottom: 40px;
    line-height: var(--TextHeight);
}

.strategic-col>h2{
    font-size: 28px;
}

.container-small>.card.bg-color-white{
    text-align: center;
    line-height: var(--TextHeight);
}

.container-small>.card.bg-color-white>*{
    margin-bottom: 20px;
}

.strategic-button{
    border-radius: 50%;
    background-color: var(--Purple);
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 10px;
}

.strategic-button i{
    transform: translateY(-10px);
}

/* Testimonials */

.sec-testimonials .container .a-center>*{
    margin-bottom: 20px;
    line-height: var(--TextHeight);
} 

.sec-testimonials .container{
    display: flex;
    flex-direction: column;
} 

.sec-testimonials .container .a-center>h2{
    font-size: var(--TitleSize);
    line-height: 3rem;
    color: var(--Purple);
}

.sec-testimonials .container .a-center>p{
    font-size: var(--SubTitle);
}

.sec-testimonials .container .a-center>h5{
    font-size: 20px;
}

.sec-testimonials .container>div{
    margin-bottom: 40px;
}

.card.bg-color-purple{
    text-align: center;
    color: white;
}

.card.bg-color-purple>div>*{
    margin-bottom: 20px;
}

.card.bg-color-purple>img{
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.card.bg-color-purple>div>p{
    line-height: var(--TextHeight);
    font-size: 20px;
}

.card.bg-color-purple>div>h4{
    font-size: 25px;
    text-transform: uppercase;
}

.card.bg-color-purple>div>p::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; 
    content: "\f10d";
    margin-right: 5px;
}

.card.bg-color-purple>div>p::after{
    font-family: "Font Awesome 5 Free"; font-weight: 900; 
    content: "\f10e";
    margin-left: 5px;
}

/* With-Us */

.sec-with-us>.container>h2{
    color: white;
    font-size: var(--TitleSize);
    text-align: center;
    line-height: 3rem;
    margin-bottom: 50px;
}

.benefits>.card.bg-color-white{
    align-items: left;
    width: 100%;
    padding: 50px;
}

.benefits>.card.bg-color-white>*{
    align-items: left;
    margin-bottom: 30px;
    line-height: var(--TextHeight);
}

.benefits>.card.bg-color-white>*:last-child{
    margin-bottom: 0;
}

.benefits>.card.bg-color-white>h2{
    color: var(--Purple);
    font-size: 50px;
}

.benefits>.card.bg-color-white>h3{
    color: var(--Purple);
    font-size: 25px;
}

.benefits>.card.bg-color-white>p{
    color: var(--DarkGrey);
}

.benefits-button{
    border-radius: 20px;
    background-color: var(--Purple);
    color: white;
    font-weight: 700;
    display: inline-block;
    padding: 5px 60px;
}

.benefits{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

/* About-Us */


.col-about-us{
    line-height: 40px;
    margin-bottom: 40px;
}

.col-about-us>*, .col-reference>*{
    margin-bottom: 40px;
    display: block;
}

.col-about-us>*:last-child, .col-about-us>*:last-child{
    margin-bottom: 0;
}

.col-about-us>h2{
    color: var(--Purple);
    font-size: 45px;
}

.col-about-us>p{
    font-size: 20px;
}

.col-reference>span{
    color: var(--Purple);
    font-size: 30px;
    font-weight: 700;
}
.p-relative{
    position: relative;
    display: inline-block;
}

.p-relative>img{
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.fa-solid.fa-quote-left.fa-4x{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--Purple);
}

.about-button{
    border-radius: 20px;
    background-color: var(--Purple);
    color: white;
    font-weight: 700;
    display: inline-block;
    padding: 10px 20px;
}

.fa-brands.fa-linkedin{
    margin-right: 10px;
}

.container-xs{
    width: 85%;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.container-xs>*{
    margin-bottom: 20px;
    display: block;
}

.container-xs>.light{
    font-size: 20px;
}

.container-xs>h3{
    font-size: 30px;
}

.container-xs>h2{
    font-size: 80px;
    color: var(--Orange);
}

.container-xs>span>a{
    color: white;
}

.cta-text{
    line-height: var(--TextHeight);
}

.cta-button{
    border-radius: 50px;
    background-color: white;
    color: var(--Purple);
    font-weight: 700;
    display: inline-block;
    padding: 20px 100px;
    font-size: 20px;
}

/* Footer */

.sec-footer{
    background-color: var(--DarkGrey);
    color: white;
    text-align: center;
}

.sec-footer>.container>span>a{
    color: var(--Purple);
}

.sec-footer>.container>*{
    margin-bottom: 30px;
    display: block;
}

/* Hover Buttons */

.click-button-white, .click-button-purple, .click-button-blue{
    transition: .5s;
}

.click-button-white:hover{
    background-color: var(--DarkGrey);
    color: white !important;
}

.click-button-purple:hover{
    background-color: var(--LightPurple);
    color: grey !important;
}

.click-button-blue:hover{
    background-color: var(--Blue);
}

.click-button-blue:hover, .click-button-purple:hover, .click-button-white:hover{
    box-shadow: 0 1px 3px #666666; 
}

/* Responsive */

@media all and (min-width: 768px){
    .card{
        width: calc(100% / 3 - 20px);
    }

    .big-card{
        width: 66%;
    }

    .container-small>.card.bg-color-white{
        width: 100%;
    }

    .strategic-col>h2{
        font-size: 70px;
    }

    .card.bg-color-purple{
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .card.bg-color-purple>img{
        margin-bottom: 0px;
    }

    .benefits>.card.bg-color-white{
        width: calc(50% - 20px);
        padding: 40px;
    }

    .benefits>.card.bg-color-white>h2{
        font-size: 80px;
    }

    .sec-about-us>.container{
        display: flex;
        justify-content: space-between;
    }

    .col-about-us{
        width: 50%;
    }

    .col-reference{
        width: 33%;
        align-self: flex-start;
    }

    .p-relative>img{
        height: 250px;
        width: 250px;
    }

    .col-about-us>h2{
        font-size: 60px;
    }

    .container-xs{
        max-width: 800px;
    }

    .container-xs>h3{
        font-size: 50px;
    }

    .container-xs>h2{
        font-size: 100px;
    }
    
    .cta-button{
        margin: 40px 0;
        padding: 30px 100px;
    }

    .sec-footer>.container{
        max-width: 800px;
    }

}

@media all and (min-width: 992px){

    .container-header, .container{
        max-width: 992px;
    }
    .menu{
        display: block;
    }

    .hamburger{
        display: none;
    }

    .big-card{
        display: flex;
        justify-content: space-around;
    }

    .card img{
        align-self: flex-end;
        width: 50%;
    }

    .pad-top-bot{
        padding-top: 150px;
    }

    .pad-top-bot-second{
        padding: 100px 0 100px 0;
    }

    .big-card div{
        width: 50%;
    }

    .container-small{
        max-width: 890px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;   
    }

    .container-small>.card.bg-color-white{
        width: 50%;
    }

    .strategic-col>h2{
        font-size: 28px;
    }

    .strategic-col, .container-small>.card.bg-color-white{
        width: calc(50% - 30px);
    }

    .container-small>.card.bg-color-white{
        align-self: flex-end;
    }

    .benefits>.card.bg-color-white{
        width: calc(100% / 3 - 20px);
        padding: 40px;
    }
}